.git
.idea
*.code-workspace
node_modules
nbproject
.dev-server/
dev-server_script.bat
# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
/.run/
/API Request.http
/.dev-server/

.DS_Store
