/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box;
	}

.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
	}
.select {
	text-align-last: center;
	}
.values-input{
	text-align: center !important;
	font-size: large !important;
	}
/* Table header */
table.table-values th.header {
	background-color: #1a87c4;
	font-size:90%;
	text-align:center;
	line-height: 1em;
	padding:6px 2px;
	border-radius:5px;
	}
.m .btn, .m .btn-flat, .m .btn-large, .m .btn-small {
	border-radius: 20px ;
	}
.warnMessage{
	color: #ff0000;
	font-size: 18px !important;
	}
.intervalField{
	width: 125px !important;
	text-align: center !important;
	}

.MQTTAdapter {
	font-size: 50px !important;
	color: #ff0000;
	text-align: center;
	position: absolute;
	}



